@font-face {
  font-family: tommy-bold-outline;
  src: url("../../fonts/made_tommy_bold_outline-webfont.woff2");
}

@font-face {
  font-family: tommy-regular;
  src: url("../../fonts/made_tommy_regular-webfont.woff2");
}

@font-face {
  font-family: tommy-regular-outline;
  src: url("../../fonts/made_tommy_regular_outline-webfont.woff2");
}

@font-face {
    font-family: tommy-thin;
    src: url('../../fonts/made_tommy_thin-webfont.woff2');
}

@font-face {
    font-family: tommy-thin-outline;
    src: url('../../fonts/made_tommy_thin_outline-webfont.woff2');
}
