@import "./variables";
@import "./fonts";

.homeContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  h1 {
    margin: 0 0 1rem 0;
    font-size: 5rem;
    font-family: "tommy-regular";
    letter-spacing: 0.25rem;
  }

  p {
    font-family: "tommy-thin";
    font-size: 1rem;
    color: $primary;
  }

//   .testdiv {
//       height: 600px;
//       background-color: red;
//   }
}
